<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Theoretical Web Developers</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/css/this.css" />
    <link rel="shortcut icon" type="image/jpg" href="/static/images/tile.jpg" />
  </head>
  <body>
    <header>
      <div id="left">
        <h3>Connect with us on:</3>
        <ul>
          <li><a href="https://www.facebook.com/theoreticaldev/"><i class="fa fa-facebook fa-lg"></i></a></li>
          <li><a href="https://twitter.com/codepeav"><i class="fa fa-twitter fa-lg"></i></a></li>
          <li><a href="mailto:thatguyfromct@gmail.com"><i class="fa fa-envelope fa-lg"></i></a></li>
        </ul>
      </div>
      <div id="right"><h3>Theoretical Web Development</h3></div>
    </header>
    <div class="jumbotron">
      <h1>Theoretical Web Development</h1>
      <p>Thanks for checking us out! Use the links below to navigate!</p>
      <div id="btnbox" role="navigation">
        <a href="#front" class="btn btn-info">Front-End Services</a>
        <a href="#second" class="btn btn-info">Back-End Services</a>
        <a href="#third" class="btn btn-info">About Us</a>
        <a href="#fourth" class="btn btn-info">Get in Touch</a>
      </div>
    </div>
    <div id="front">
      <div class="container">
        <div class="row">
          <div class="col-sm-1 col-md-1 col-lg-1">
            <div id="html5"></div>
          </div>
          <div class="col-sm-1 col-md-1 col-lg-1">
            <div id="css3"></div>
          </div>
          <div class="col-sm-1 col-md-1 col-lg-1">
            <div id="boot"></div>
          </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
            <h2>Front-End Design</h2>
            <p>Our front end services begin with a clean, responsive design. We use HTML5, CSS3, Bootstrap, and Font-Awesome to create the overall look and feel of your site. We design mobile-first, to ensure a great looking site across all devices. This ensures your users will be able to access, interact with, and navigate your site with ease.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9 col-md-9 col-lg-9">
            <h2>UI/UX</h2>
            <p>Our UI/UX, or User Interface/User Experience is designed to be fluid, seamless, and interactive. Browsing your site should be easy and fun. We accomplish this through Bootstrap, JavaScript, and jQuery, to make everything on your site, from filling out a contact form, to learning about a new technique, intuitive and entertaining.</p>
          </div>
          <div class="col-sm-1 col-md-1 col-lg-1">
            <div id="boot"></div>
          </div>
          <div class="col-sm-1 col-md-1 col-lg-1">
            <div id="js"></div>
          </div>
          <div class="col-sm-1 col-md-1 col-lg-1">
            <div id="jquery"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="jumbotron" id="second"></div>
    <div id="back">
      <div class="container">
        <div class="row">
          <div class="col-sm-2 col-md-2 col-lg-2">
            <div id="python"></div>
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2">
            <div id="flask"></div>
          </div>
          <div class="col-sm-8 col-md-8 col-lg-8">
            <h2>Back-End</h2>
            <p>The back-end of your site is where all the "stuff" happens, from validation of forms to routing between pages. We prefer to use Python 3 and Flask as a back-end package, simply for it's lightweight, easy to expand package. With Flask, the back-end controller is extremely fast, improving your overall user experience, as your site will load faster, no matter the device.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-md-8 col-lg-8">
            <h2>Databasing</h2>
            <p>Ah, the database. A place to store and maintain large amounts of information. If you have a large menu, selection of services, or lots of customers, then a database is the place to store that info. We like to use SQLite for small to medium databases, and MySQL for the big ones. We then take this information and can display it in many ways, anywhere on your site.</p>
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2">
            <div id="sqlite"></div>
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2">
            <div id="mysql"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="third" class="jumbotron"></div>
    <div id="about">
      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-md-10 col-lg-10">
            <h2>About Us</h2>
            <p>We're a small group of developers in Las Vegas that want to bring elegant, functional design back to the web. Some of us are designers, some are programmers, and some are just enthusiasts with a knack for a specific function. Most of all, though, we're friendly and reliable.</p>
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2">
            <div id="service"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2 col-md-2 col-lg-2">
            <div id="seth"></div>
          </div>
          <div class="col-sm-10 col-md-10 col-lg-10">
            <h2>Seth Peavler</h2>
            <p>Seth created Theoretical Web Developers to contain his random freelancing into a single space. He's an avid gamer, and actually likes math and physics for some reason. He's also guaranteed to make at least one person in a group groan with his terrible, terrible puns. He's been known to camp in the desert with a pack of crazies at the events Detonation and Wasteland Weekend.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="fourth" class="jumbotron"></div>
    <div id="contact">
      <div class="container">
        <h2>Contact Us for More Information:</h2>
        <form action="/submit" method="post">
          <div class="row">
            <div class="form-group col-sm-6 col-md-6 col-lg-6">
              <label for="name">Full Name:</label>
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"></input>
            </div>
            <div class="form-group col-sm-6 col-md-6 col-lg-6">
              <label for="email">Email Address:</label>
              <input type="email" name="email" class="form-control" id="email" placeholder="someone@something.com"></input>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12 col-md-12 col-lg-12">
              <label for="stuff">What Can We Do For You:</label>
              <textarea type="text" name="stuff" rows="5" class="form-control" id="stuff" placeholder="Tell us what you're looking for."></textarea>
            </div>
            <button class="btn btn-success" type="submit">Send</button>
          </div>
        </form>
      </div>
    </div>
    <div id="bottom">
      <div class="container">
        <p>Site Designed by: Seth Peavler</p>
        <p>&copy; 2017 Theoretical Web Developers</p>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
