<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Theoretical Web Developers</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/css/this.css" />
    <link rel="shortcut icon" type="image/jpg" href="/static/images/tile.jpg" />
  </head>
  <body>
    <header>
      <div id="left">
        <h3>Connect with us on:</3>
        <ul>
          <li><a href="https://www.facebook.com/theoreticaldev/"><i class="fa fa-facebook fa-lg"></i></a></li>
          <li><a href=""><i class="fa fa-twitter fa-lg"></i></a></li>
          <li><a href=""><i class="fa fa-envelope fa-lg"></i></a></li>
        </ul>
      </div>
      <div id="right"><h3>Theoretical Web Development</h3></div>
    </header>
    <div class="jumbotron">
      <h1>Thank you for contacting us!</h1>
      <p>Your information has been sent! We'll get back to you as soon as possible!</p>
      <div id="btnbox" role="navigation">
        <a href="/" class="btn btn-info">Go Home</a>
      </div>
    </div>
    <div id="bottom">
      <div class="container">
        <p>Site Designed by: Seth Peavler</p>
        <p>&copy; 2017 Theoretical Web Developers</p>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
